<div class="card-image">
  <img src="https://bulma.io/images/placeholders/1280x960.png">
</div>
<div class="card-content">
  <div class="content">
    <div class="title is-4">{{ bookOwnership.book.title }}</div>
    <div>{{ bookOwnership.book.description }}</div>
  </div>
</div>