<div class="card-image">
  <img src=
  {%- if bookOwnership.book.imagePath -%}
    "{{- upload_dir -}}/{{- bookOwnership.book.imagePath -}}"
  {%- else -%}
    "https://bulma.io/images/placeholders/1280x960.png"
  {%- endif -%}
  >
</div>
<div class="card-content">
  <div class="content">
    <div class="title is-4">{{ bookOwnership.book.title }}</div>
    <div>{{ bookOwnership.book.description }}</div>
  </div>
</div>