{% extends '_reusable/base.html.twig' %}

{% block title %}{% trans %}relationships.title{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
  <h1 class="title is-1">{{ block('title') }}</h1>
  <h2 class="title is-2">{% trans %}relationships.from_user{% endtrans %}</h2>
  <div class="panel">
    {% for relationship in from_user %}
      {{ component('relationship:relationship-box', {
        'relationship': relationship,
        'isFromUser': true,
      }) }}
    {% endfor %}
    <div class="panel-block is-block">
      <h3 class="subtitle">{% trans %}relationships.ask_user{% endtrans %}</h3>
      <turbo-frame id="relationships-invite" src="{{ path('relationships_invite') }}"></turbo-frame>
    </div>
  </div>
  <h2 class="title is-2">{% trans %}relationships.to_user{% endtrans %}</h2>
  <div class="panel">
    {% for relationship in to_user %}
      {{ component('relationship:relationship-box', {
        'relationship': relationship,
        'isFromUser': false,
      }) }}
    {% endfor %}
  </div>
</div>
{% endblock %}
