{% extends '_reusable/base.html.twig' %}
{% block title %}{% trans %}SimpleWebApps{% endtrans %}{% endblock %}
{% block body %}
<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">{{ block('title') }}</p>
  </div>
</section>
<div class="container">
  <ul>
    <li><a href="{{ path('weight_tracker_index') }}">{% trans %}weight_tracker.title{% endtrans %}</a></li>
    <li><a href="{{ path('static_calculator') }}">{% trans %}calculator.title{% endtrans %}</a></li>
    <li><a href="{{ path('books_index') }}">{% trans %}books.title{% endtrans %}</a></li>
  </ul>
</div>
{% endblock %}
