{% extends '_reusable/base.html.twig' %}
{% block title %}wazzup beijing{% endblock %}
{% block body %}
<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title">{% trans %}SimpleWebApps{% endtrans %}</p>
  </div>
</section>
<div class="container">
  <ul>
    <li><a href="{{ path('weight_tracker_index') }}">{% trans %}weight_tracker.title{% endtrans %}</a>
  </ul>
</div>
{% endblock %}
