{% extends '_reusable/modal.html.twig' %}

{% block title %}New WeightRecord{% endblock %}

{% block before_modal %}{{ form_start(form, {'action': app.request.requesturi}) }}{% endblock %}
{% block modal_body %} {{ form_widget(form) }}{% endblock %}
{% block modal_footer %}<button type="submit" class="button is-success">Add</button>{% endblock %}
{% block after_modal %}{{ form_end(form) }}{% endblock %}
