<div id="book-{{ book.id }}" class="column is-3">
  <div class="card" style="height: 100%" {#TODO#}>
    <div class="card-image">
      <img src="https://bulma.io/images/placeholders/1280x960.png">
    </div>
    <div class="card-content">
      <div class="content">
        <div class="title is-4">{{ book.title }}</div>
        <div>{{ book.description }}</div>
      </div>
    </div>
  </div>
</div>
