{% extends '_reusable/base.html.twig' %}

{% block title %}{% trans %}SimpleWebApps{% endtrans %}{% endblock %}

{% block body %}
<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">{{ block('title') }}</p>
      {% block form %}{% endblock %}
    </div>
  </div>
</section>
{% endblock %}
