{% extends 'auth/_base.html.twig' %}

{% block title %}Simple Web Apps{% endblock %}

{% block form %}
{{ form_start(form) }}
  {{ form_widget(form) }}

  <div class="field is-grouped is-grouped-centered">
    <div class="control">
      <button class="button is-success" type="submit">Log In</button>
    </div>
    <div class="control">
      <a class="button" href="{{ path('auth_register') }}">Sign Up</a>
    </div>
  </div>
{{ form_end(form) }}
{% endblock %}
