<div class="card-image">
  <img src=
  {%- if book.image -%}
    "{{- upload_dir -}}/{{- book.image.filePath -}}"
  {%- else -%}
    "https://bulma.io/images/placeholders/1280x960.png" {#- TODO -#}
  {%- endif -%}
  >
</div>
<div class="card-content">
  <div class="content">
    <div class="title is-4">{{ book.title }}</div>
    <div>{{ book.description }}</div>
  </div>
</div>