{%- extends "books/_card/abstract_card.html.twig" -%}

{%- block book_action -%}
<div class="card-footer-item">
  <button form="booksNewForm" formaction="{{ path('books_new', {bookid: book.id}) }}" class="button is-primary" type="submit" title="{{ 'books.new'|trans }}">
    <span class="icon">
      <iconify-icon icon="mdi:library-add"></iconify-icon>
    </span>
  </button>
</div>
{%- endblock -%}
